In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("nba.csv")

In [3]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-Oct,231,NaN,5000000.0

In [4]:
df.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [5]:
df.shape

(457, 9)

In [6]:
df.dtypes

Name         object
Team         object
Number        int64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

In [7]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [8]:
df.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary       0
dtype: int64

In [9]:
df1 = df.dropna()

In [10]:
df1.shape

(373, 9)

In [11]:
df1.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [12]:
df1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1.148640e+06
6,Jordan Mickey,Boston Celtics,55,PF,21,06-Aug,235,LSU,1.170960e+06
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5,SG,23,06-Aug,206,Duke,1.348440e+06
451,Chris Johnson,Utah Jazz,23,SF,26,06-Jun,206,Dayton,9.813480e+05
452,Trey Lyles,Utah Jazz,41,PF,20,06-Oct,234,Kentucky,2.239800e+06
453,Shelvin Mack,Utah Jazz,8,PG,26,06-Mar,203,Butler,2.433333e+06
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,9.472760e+05

In [13]:
df1['Age']

0      25
1      25
2      27
3      22
6      21
       ..
449    23
451    26
452    20
453    26
456    26
Name: Age, Length: 373, dtype: int64

In [14]:
df1['Age'].max()

40

In [15]:
df1['Age'].min()

19

In [16]:
junior = df1[df1['Age']>=19]

In [17]:
junior = junior[junior['Age']<25]
junior

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55,PF,21,06-Aug,235,LSU,1170960.0
8,Terry Rozier,Boston Celtics,12,PG,22,06-Feb,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,06-Apr,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,06-Sep,260,Ohio State,2569260.0
...,...,...,...,...,...,...,...,...,...
443,Trey Burke,Utah Jazz,3,PG,23,06-Jan,191,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10,SG,24,06-Jun,214,Colorado,9463484.0
446,Derrick Favors,Utah Jazz,15,PF,24,06-Oct,265,Georgia Tech,12000000.0
449,Rodney Hood,Utah Jazz,5,SG,23,06-Aug,206,Duke,1348440.0
452,Trey Lyles,Utah Jazz,41,PF,20,06-Oct,234,Kentucky,2239800.0

In [18]:
middle = df1[df1['Age']>=25]

In [19]:
middle = middle[middle['Age']<30]
middle

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,4.842684e+06
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2.165160e+06
11,Isaiah Thomas,Boston Celtics,4,PG,27,05-Sep,185,Washington,6.912869e+06
...,...,...,...,...,...,...,...,...,...
442,Trevor Booker,Utah Jazz,33,PF,28,06-Aug,228,Clemson,4.775000e+06
448,Gordon Hayward,Utah Jazz,20,SF,26,06-Aug,226,Butler,1.540957e+07
451,Chris Johnson,Utah Jazz,23,SF,26,06-Jun,206,Dayton,9.813480e+05
453,Shelvin Mack,Utah Jazz,8,PG,26,06-Mar,203,Butler,2.433333e+06
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,9.472760e+05

In [20]:
senior = df1[df1['Age']>=30]

In [21]:
senior

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
19,Jarrett Jack,Brooklyn Nets,2,PG,32,06-Mar,200,Georgia Tech,6.300000e+06
30,Arron Afflalo,New York Knicks,4,SG,30,06-May,210,UCLA,8.000000e+06
31,Lou Amundson,New York Knicks,17,PF,33,06-Sep,220,UNLV,1.635476e+06
33,Carmelo Anthony,New York Knicks,7,SF,32,06-Aug,240,Syracuse,2.287500e+07
46,Elton Brand,Philadelphia 76ers,42,PF,37,06-Sep,254,Duke,4.842684e+06
...,...,...,...,...,...,...,...,...,...
415,Randy Foye,Oklahoma City Thunder,6,SG,32,06-Apr,213,Villanova,3.135000e+06
420,Nazr Mohammed,Oklahoma City Thunder,13,C,38,06-Oct,250,Kentucky,2.228880e+05
421,Anthony Morrow,Oklahoma City Thunder,2,SG,30,06-May,210,Georgia Tech,3.344000e+06
434,Chris Kaman,Portland Trail Blazers,35,C,34,7-0,265,Central Michigan,5.016000e+06
440,Brian Roberts,Portland Trail Blazers,2,PG,30,06-Jan,173,Dayton,2.854940e+06

In [22]:
# Statistics for junior grp
jr_mean_sal = junior['Salary'].mean()
jr_median_sal = junior['Salary'].median()
jr_max_sal = junior['Salary'].max()
jr_min_sal = junior['Salary'].min()
jr_std_sal = junior['Salary'].std()
print('Mean salary of Junior group ',jr_mean_sal)
print('Median salary of Junior group ',jr_median_sal)
print('Maximum salary of Junior group ',jr_max_sal)
print('Minimum salary of Junior group ',jr_min_sal)
print('Standard deviation of salary of Junior group ',jr_max_sal)

Mean salary of Junior group  2875415.96424537
Median salary of Junior group  1662360.0
Maximum salary of Junior group  16407501.0
Minimum salary of Junior group  83397.0
Standard deviation of salary of Junior group  16407501.0

In [23]:
# Statistics for middle grp
mid_mean_sal = middle['Salary'].mean()
mid_median_sal = middle['Salary'].median()
mid_max_sal = middle['Salary'].max()
mid_min_sal = middle['Salary'].min()
mid_std_sal = middle['Salary'].std()
print('Mean salary of Middle group ',mid_mean_sal)
print('Median salary of Middle group ',mid_median_sal)
print('Maximum salary of Middle group ',mid_max_sal)
print('Minimum salary of Middle group ',mid_min_sal)
print('Standard deviation of salary of Middle group ',mid_max_sal)

Mean salary of Middle group  5641051.496291824
Median salary of Middle group  3403766.5
Maximum salary of Middle group  20158622.0
Minimum salary of Middle group  55722.0
Standard deviation of salary of Middle group  20158622.0

In [24]:
# Statistics for senior grp
sr_mean_sal = senior['Salary'].mean()
sr_median_sal = senior['Salary'].median()
sr_max_sal = senior['Salary'].max()
sr_min_sal = senior['Salary'].min()
sr_std_sal = senior['Salary'].std()
print('Mean salary of Senior group ',sr_mean_sal)
print('Median salary of Senior group ',sr_median_sal)
print('Maximum salary of Senior group ',sr_max_sal)
print('Minimum salary of Senior group ',sr_min_sal)
print('Standard deviation of salary of Senior group ',sr_max_sal)

Mean salary of Senior group  5449928.630357701
Median salary of Senior group  4070732.5
Maximum salary of Senior group  22875000.0
Minimum salary of Senior group  200600.0
Standard deviation of salary of Senior group  22875000.0

In [25]:
iris = pd.read_csv('Iris.csv')

In [26]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [27]:
iris['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [28]:
setosa = iris[iris['Species']=='Iris-setosa']
setosa

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [29]:
versicolor = iris[iris['Species']=='Iris-versicolor']
versicolor

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
55,56,5.7,2.8,4.5,1.3,Iris-versicolor
56,57,6.3,3.3,4.7,1.6,Iris-versicolor
57,58,4.9,2.4,3.3,1.0,Iris-versicolor
58,59,6.6,2.9,4.6,1.3,Iris-versicolor
59,60,5.2,2.7,3.9,1.4,Iris-versicolor
60,61,5.0,2.0,3.5,1.0,Iris-versicolor
61,62,5.9,3.0,4.2,1.5,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
63,64,6.1,2.9,4.7,1.4,Iris-versicolor
64,65,5.6,2.9,3.6,1.3,Iris-versicolor
65,66,6.7,3.1,4.4,1.4,Iris-versicolor
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
67,68,5.8,2.7,4.1,1.0,Iris-versicolor
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
69,70,5.6,2.5,3.9,1.1,Iris-versicolor
70,71,5.9,3.2,4.8,1.8,Iris-versicolor
71,72,6.1,2.8,4.0,1.3,Iris-versicolor
72,73,6.3,2.5,4.9,1.5,Iris-versicolor
73,74,6.1,2.8,4.7,1.2,Iris-versicolor
74,75,6.4,2.9,4.3,1.3,Iris-versicolor
75,76,6.6,3.0,4.4,1.4,Iris-versicolor
76,77,6.8,2.8,4.8,1.4,Iris-versicolor
77,78,6.7,3.0,5.0,1.7,Iris-versicolor
78,79,6.0,2.9,4.5,1.5,Iris-versicolor
79,80,5.7,2.6,3.5,1.0,Iris-versicolor
80,81,5.5,2.4,3.8,1.1,Iris-versicolor
81,82,5.5,2.4,3.7,1.0,Iris-versicolor
82,83,5.8,2.7,3.9,1.2,Iris-versicolor
83,84,6.0,2.7,5.1,1.6,Iris-versicolor
84,85,5.4,3.0,4.5,1.5,Iris-versicolor
85,86,6.0,3.4,4.5,1.6,Iris-versicolor
86,87,6.7,3.1,4.7,1.5,Iris-versicolor
87,88,6.3,2.3,4.4,1.3,Iris-versicolor
88,89,5.6,3.0,4.1,1.3,Iris-versicolor
89,90,5.5,2.5,4.0,1.3,Iris-versicolor
90,91,5.5,2.6,4.4,1.2,Iris-versicolor
91,92,6.1,3.0,4.6,1.4,Iris-versicolor
92,93,5.8,2.6,4.0,1.2,Iris-versicolor
93,94,5.0,2.3,3.3,1.0,Iris-versicolor
94,95,5.6,2.7,4.2,1.3,Iris-versicolor
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

In [30]:
virginica = iris[iris['Species']=='Iris-virginica']
virginica

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
100,101,6.3,3.3,6.0,2.5,Iris-virginica
101,102,5.8,2.7,5.1,1.9,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
103,104,6.3,2.9,5.6,1.8,Iris-virginica
104,105,6.5,3.0,5.8,2.2,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
106,107,4.9,2.5,4.5,1.7,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
108,109,6.7,2.5,5.8,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
110,111,6.5,3.2,5.1,2.0,Iris-virginica
111,112,6.4,2.7,5.3,1.9,Iris-virginica
112,113,6.8,3.0,5.5,2.1,Iris-virginica
113,114,5.7,2.5,5.0,2.0,Iris-virginica
114,115,5.8,2.8,5.1,2.4,Iris-virginica
115,116,6.4,3.2,5.3,2.3,Iris-virginica
116,117,6.5,3.0,5.5,1.8,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
119,120,6.0,2.2,5.0,1.5,Iris-virginica
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [31]:
setosa.describe()

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [32]:
versicolor.describe()

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [33]:
virginica.describe()

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000